@use 'sass:math';

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.'
  }
}

.box {
  width: rem(400);        // 600px => 37.5rem
  height: rem(250);       // 280px => 17.5rem
  padding: rem(40);       // 40px  => 2.5rem
  border-radius: rem(15); // 15px  => 0.9375rem
  box-shadow:
    rem(6)                // 6px   => 0.375rem
    rem(6)                // 6px   => 0.375rem
    rem(10) deeppink;     // 10px  => 0.625rem

  /* 768px => 48rem */
  @media (width < rem(768)) {
    padding: rem(20);     // 20px  => 1.25rem
    font-size: rem(14);   // 14px  => 0.875rem
  }
}
